{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsors | Acumen IT 2K18</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sponsors.css' %}">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Varela+Round|Comfortaa:400,700,300);
        a:visited {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>

<body>
    <svg class="hidden">
			<symbol id="icon-cross" viewBox="0 0 24 24">
				<title>cross</title>
				<path d="M 5.5,2.5 C 5.372,2.5 5.244,2.549 5.146,2.646 L 2.646,5.146 C 2.451,5.341 2.451,5.659 2.646,5.854 L 8.793,12 2.646,18.15 C 2.451,18.34 2.451,18.66 2.646,18.85 L 5.146,21.35 C 5.341,21.55 5.659,21.55 5.854,21.35 L 12,15.21 18.15,21.35 C 18.24,21.45 18.37,21.5 18.5,21.5 18.63,21.5 18.76,21.45 18.85,21.35 L 21.35,18.85 C 21.55,18.66 21.55,18.34 21.35,18.15 L 15.21,12 21.35,5.854 C 21.55,5.658 21.55,5.342 21.35,5.146 L 18.85,2.646 C 18.66,2.451 18.34,2.451 18.15,2.646 L 12,8.793 5.854,2.646 C 5.756,2.549 5.628,2.5 5.5,2.5 Z"/>
			</symbol>
			<symbol id="icon-menu" viewBox="0 0 125.9 125.9">
				<title>menu</title>
				<g transform="scale(1)">
                    <path id="XMLID_11_" class="st0" d="M62.9,0C28.2,0,0,28.2,0,62.9s28.2,62.9,62.9,62.9s62.9-28.2,62.9-62.9S97.7,0,62.9,0z
	 M63,116.5c-29.5,0-53.5-24-53.5-53.5S33.5,9.5,63,9.5s53.5,24,53.5,53.5S92.6,116.5,63,116.5z"/>
<circle id="XMLID_12_" fill="transparent" class="st1" cx="63" cy="63" r="53.5"/>
<path id="XMLID_5_" class="st0" d="M49.3,59c14.1,0,28.2,0,42.3,0c0.4,1,0.9,1,1.4,1.8c0.3,0.5,0.6,1.1,0.7,1.9
	c0,0.1,0.1,1.8-0.8,2.9c0,0-0.1,0.4-1.4,1.4H49.3l15.9,16.3c0.2,0.3,0.8,1.2,0.7,2.5c0,0.4-0.1,1.5-1,2.5c-1.1,1.1-2.7,0.9-3,0.9
	c-1.5-0.1-2.5-1.2-2.7-1.4c-3.8-3.6-7.6-7.4-11.4-11.2c-3.8-3.8-7.5-7.6-11.1-11.4c-0.2-0.3-0.8-1.2-0.8-2.5c0-0.4,0.1-1.5,0.7-2.5
	c7.8-7.7,15.7-15.5,23.6-23.2c0.4-0.2,1.3-0.6,2.5-0.4c1.6,0.3,2.5,1.4,2.7,1.7c0.2,0.2,0.7,0.8,0.7,1.8c0.1,1.1-0.4,1.8-0.6,2
	C60.3,47.7,54.8,54,49.3,59z"/>
                </g>
			</symbol>
			<!-- Magnifier by Gregor Cresnar https://www.flaticon.com/authors/gregor-cresnar -->
    </svg>
    <header class="sponsor-head">
        <h1>Our Sponsors</h1>
        <button class="dummy-menu" onclick="window.location.href='/home/#nav'"><svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
                </button>
    </header>
    <div class="content">
        <span>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/yuvatha1.png' %}">
            <h2 class="sponsor-title">Yuvatha NGO</h2>
            <p class="sponsor-des"><!--Yuvatha is a change, a motto, a move, a contribution, an impact - big or small. It is fearless and limitless and in the pursuit of change and happiness. Be a change too. Volunteer for Yuvatha!-->
            We all know that it is ideas that drag and lead the world to betterment, not machine and money. Likewise, Yuvatha started as a small idea to create a large impact. An impact that would awaken a generation. Driven by passion and motivated by change, a group of 200 commited volunteers work around the clock towards the goal of bringing about change. Yuvatha works in multiple verticals.
            </p>
            <span><a target="_blank" href="https://www.yuvathango.org">Website</a>  <a target="_blank" href="mailto:mailto:yuvathango@gmail.com">E-mail</a>  <a target="_blank" href="https://www.facebook.com/Yuvatha/">Facebook</a>  <a target="_blank" href="https://twitter.com/yuvatha_ngo">Twitter</a>  <a target="_blank" href="https://www.instagram.com/yuvathango/?hl=en">Instagram</a></span>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/logo-eduactionlink.png' %}">
            <h2 class="sponsor-title">Oberois Educational Link</h2>
            <p class="sponsor-des"></p>
        </div>
        </span>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/jamboree.png' %}">
            <h2 class="sponsor-title">Jamboree</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/princeton.png' %}">
            <h2 class="sponsor-title">The Princeton Review</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/manhattan.png' %}">
            <h2 class="sponsor-title">Manhattan Review</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/leafstudio.jpg' %}">
            <h2 class="sponsor-title">Leaf The Studio</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/snehatv.png' %}">
            <h2 class="sponsor-title">Sneha TV</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/prajapalana.png' %}">
            <h2 class="sponsor-title">Prajapalana News</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/eenadu.png' %}">
            <h2 class="sponsor-title">Eenadu News</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/i20fever.png' %}">
            <h2 class="sponsor-title">i20Fever GRE Centres</h2>
            <p class="sponsor-des"></p>
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/smartinterviews.png' %}">
            <h2 class="sponsor-title">The Smart Interviews</h2>
            <p class="sponsor-des"></p>
        </div>
    </div>
</body>

</html>
