{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Sponsors</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets1/css/main.css'%}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
					<h1><strong>Acumen IT</strong>, the most happening<br />
					fest in the city<br />
					<a href="www.acumenit.in">Back</a></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Meet our sponsors!</h2>
						</header>
						<p style="font-size:1.2rem;">Companies that have put their trust in the collective vision of the fest</p>
						<ul class="actions">
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<!-- <h2>Sponsors</h2> -->
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/yuvathafull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/yuvathathumb.jpg'%}" alt="" /></a>
								<h3>Yuvatha NGO</h3>
								<p>We all know that it is ideas that drag and lead the world to betterment, not machine and money. Likewise, Yuvatha started as a small idea to create a large impact. An impact that would awaken a generation. Driven by passion and motivated by change, a group of 200 commited volunteers work around the clock towards the goal of bringing about change. Yuvatha works in multiple verticals.

</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/oberois.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/oberoisthumb.jpg'%}" alt="" /></a>
								<h3>Oberois Educational Link</h3>
								<p>Developed as a genuine Professional Consultancy, Oberai is a known leader for Global Education across the globe</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/jambofull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/jamboreethumb.jpg'%}" alt="" /></a>
								<h3>Jamboree</h3>
								<p>Jamboree, the most trusted Institute for GMAT/ GRE/ SAT/ IELTS/ TOEFL Preparation, coaching, classes & training in Delhi/NCR(Gurgaon, Noida, Faridabad), Mumbai, Bangalore, Chennai, Hyderabad, Kolkata, Pune, Jaipur, Indore & Ahmedabad.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/princetonfull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/princetonthumb.jpg'%}" alt="" /></a>
								<h3>The Princeton Review</h3>
								<p>The Princeton Review offers test preparation for standardized tests including SAT, ACT and graduate school entrance exams. The Princeton Review also provides private tutoring and college admissions counseling.</p></article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/manhattanfull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/manhattanthumb.jpg'%}" alt="" /></a>
								<h3>Manhattan Review</h3>
								<p>One of the oldest and most trusted names in GRE and TOEFL preparation</p></article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/leaffull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/leafthumb.jpg'%}" alt="" /></a>
								<h3>Leaf the Studio</h3>
								<p>If you want photos, go to a photo studio. If you want memories, go to Leaf The Studio.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/snehafull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/snehathumb.jpg'%}" alt="" /></a>
								<h3>Sneha TV</h3>
								<p>Sneha tv 24/7 telugu news channel with all its potential strives hard to expose all the problems and concerns of the society to the nation.</p></article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/prajafull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/prajathumb.jpg'%}" alt="" /></a>
								<h3>Prajapalana News</h3>
								<p>A trending name in journalism, committed to bring the truth to the masses.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/eenadufull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/eenaduthumb.jpg'%}" alt="" /></a>
								<h3>Eenadu News</h3>
								<p>Eenadu is an Indian Telugu language daily newspaper which is the largest circulated Telugu newspaper in Andhra Pradesh and in Telangana, India.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/i20feverfull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/i20feverthumb.jpg'%}" alt="" /></a>
								<h3>i20Fever GRE Centres</h3>
								<p>The only GRE institute that takes care of students from registration to admission in the international college of your choice with its best in class counseling</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="{% static 'images/fulls/smartfull.jpg'%}" class="image fit thumb"><img src="{% static 'images/thumbs/smartthumb.jpg'%}" alt="" /></a>
								<h3>The Smart Interviews</h3>
								<p>Learn the smart way to crack technical interviews. Smart Interviews is a one stop solution for the college students and graduates to get their dream jobs.</p>
							</article>

						</div>
						</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://twitter.com/AcumenIT1?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.instagram.com/acumen_it_2k18/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.facebook.com/acumenit18/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Department of Information Technology</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets1/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets1/js/jquery.poptrox.min.js'%}"></script>
			<script src="{% static 'assets1/js/skel.min.js'%}"></script>
			<script src="{% static 'assets1/js/util.js'%}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets1/js/main.js'%}"></script>

	</body>
</html>
